<ion-app>
    <ion-split-pane when="sm" content-id="main-content">
        <ion-menu content-id="main-content">
            <ion-header color="secondary">
                <ion-toolbar>
                    <ion-item>
                        <ion-avatar>
                            <img src=" {{ avatar.image }} ">
                        </ion-avatar>
                        <ion-list>
                            <ion-list-header>{{ title }}</ion-list-header>
                        </ion-list>
                    </ion-item>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-list>
                    <ion-menu-toggle auto-hide="false" *ngFor="let page of appPages; let i = index">
                        <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[page.url]" lines="none" detail="false" [class.selected]="selectedIndex === i">
                            <ion-icon slot="start" [ios]="page.icon + '-outline'" [md]="page.icon"></ion-icon>
                            <ion-label>{{ page.title ? page.title : 'No title' }}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>