<div class="container">
    <div class="row d-flex justify-content-center">
        <ion-card>
            <ion-card-header>
                <ion-card-title>Registrarse</ion-card-title>
                <ion-card-subtitle>Complete los campos para poder registrarse en el sistema</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <div>
                    <div class="p-3">
                    </div>
                </div>
            </ion-card-content>
        </ion-card>
    </div>
</div>